<div class="col-xs-10 col-xs-offset-1">
  <h1 class="text-center">About Fresh Quotes</h1>

  <p>
    Fresh Quotes was built by Jared Gilbert as part of an exercise for <a target="_blank"  href="https://www.thefirehoseproject.com/">The Firehose Project</a>.
  </p>

  <br>

  <div class="col-xs-12 col-sm-3">
    <%= image_tag 'jared.png', class: 'img-filter img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-8 col-sm-offset-1">
    <h2 class="text-center">Jared Gilbert</h2>
    <br>
    <p>
      <a target="_blank" href="https://jaredanders.github.io">Jared Gilbert</a> is a web developer and digital strategist. After spending the past 3 years teaching himself code, he decided it was time to enroll full-time in a web development bootcamp.
    </p>
    <br>
  </div>
</div>

<br class="clear">
<br>
<br>
<br>
