@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lora';

$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;
$red: #F44336;
$black87: rgba(black,.87);

hr {
  margin-bottom: 0;
}

a {
  color: $black87;
  border-bottom: 1px solid rgba(black,0);;
  transition: .3s ease-out;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $black87;
    border-bottom: 1px solid $black87;
  }
}

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: white;
    border: 2px solid $red;
    width: 50px;
    height: 50px;
    margin: 7px 5px;
    text-align: center;
    color: $red;
    font-size: 10px;
    line-height: 11px;
    cursor: pointer;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg); /* IE 9 */
    -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}

// .slogan {
//   font-family: $lora;
//   font-size: 1.25em;
//   font-style: italic;
//   padding-top: 26px;
//   text-align: center;
// }

.links {
  padding-top: 26px;
  text-align: right;
  a {
    color: rgba(black,.5);
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid rgba(black,0);;
    font: $roboto;
    transition: .3s ease-out;
    &:hover {
      text-decoration: none;
      color: $black87;
      border-bottom: 1px solid $black87;
    }
  }
}

header {
  border-top: 1px solid rgba(black, .12);
}

hr {
  clear: both;
  border-top: 1px solid rgba(black, .12);
}

h1 {
  font-family: $lora;
  font-weight: bold;
  color: $black87;
  font-size: 24px;
}

h2 {
  font-family: $lora;
  font-style: italic;
  color: rgba(black, .5);
  font-size: 18px;
}

h3 {
  color: rgba(black, .5);
  font-family: $lora;
  font-size: 18px;
}

.btn-danger {
  background: $red;
  border: 1px solid $red;
  color: rgba(white,.87);
  transition: .3s ease-out;
  &:hover {
    background: lighten($red, 10%);
    border: 1px solid lighten($red, 10%);
  }
}

.footer-blurb {
  font-family: $roboto;
  color: $black87;
  text-align: center;
  font-style: italic;
  position: relative;
  //top: 15px;
  @media (min-width: 751px) {
    text-align: left;
  }
}

.next-quote {
  text-align: center;
  @media (min-width: 751px) {
    text-align: right;
  }
}

.logo:hover {
  text-decoration: none;
}

.img-filter {
  filter: sepia(75%) grayscale(50%);
  -webkit-filter: sepia(75%) grayscale(50%);
  border-radius: 3px;
}

.modal {
  font-family: $roboto;
  color: $black87;
  h4 {
    font-family: $lora;
  }
}

::selection {
  background-color: $red;
  color: rgba(white,.87);
}
