@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lora';

$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;
$red: #F44336;

hr {
  margin-bottom: 0;
}

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: white;
    border: 3px solid $red;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: $red;
    font-size: 10px;
    line-height: 14px;
    cursor: pointer;
    transform:rotate(-11deg);
    -ms-transform:rotate(-11deg); /* IE 9 */
    -webkit-transform:rotate(-11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: $lora;
  font-size: 1.25em;
  font-style: italic;
  padding-top: 26px;
  text-align: center;
}

.links {
  padding-top: 26px;
  text-align: right;
  a {
    color:black;
    font-size: 16px;
    border-bottom: 1px solid #dfdfdf;
    font: $roboto;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid black;
    }
  }
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear: both;
}

h1 {
  font-family: $lora;
  font-weight: bold;
}

h2 {
  font-family: $lora;
  font-style: italic;
}

.next-quote {
  text-align: right;
}

.btn-red {
  color: white;
  background: $red;
  padding: 7px;
  border-radius: 3px;
  font: $roboto;
  transition: .3s ease-out;
  text-align: right;
  &:hover, &:focus {
    color: white;
    background: lighten($red, 12%);
    text-decoration: none;
  }
}

.footer-blurb {
  font-family: $roboto;
  color: lighten(black, 25%);
  text-align: left;
  font-style: italic;
}

.logo:hover {
  text-decoration: none;
}
